 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1e1e1e;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 30px;
  padding: 5px 10px;
  margin-bottom: 30px;
}

.search input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
}

.search button {
  border: 0;
  background: 0;
  border-radius: 50%;
  background: #7af1e2;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}

.weather-icon {
  width: 100px;
  margin-top: 20px;
}

.weather h1 {
  font-size: 50px;
  font-weight: 600;
}

.weather h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 5px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity, .wind {
  font-size: 18px;
}

.error {
  display: none;
  color: red;
  margin-bottom: 15px;
}